.companyCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.my-2 {
	width: 60rem;
}

@media only screen and (max-width: 600px) {
	.my-2 {
		width: 25rem;
		padding: 1rem;
	}
}
