.Password,
.Firstname,
.Lastname,
.Email,
.EditProfileButton,
.alert-success,
.alert-danger,
h1 {
	margin-top: 1rem;
}

.EditProfileButton {
	margin-bottom: 1rem;
	background-color: #080957;
	border-width: 0.2rem;
	border-color: white;
}

.EditProfileButton:hover {
	background-color: #8a8dff;
}

.Password,
.Firstname,
.Lastname,
.Email,
.alert-success,
.alert-danger {
	margin-left: 1rem;
	margin-right: 1rem;
}

.FormContainer {
	margin-top: 6rem;
	border-radius: 1rem;
	background-color: #080957;
	color: white;
}

.alert-success {
	border-radius: 1rem;
	background-color: rgb(180, 215, 180, 0.8);
}

.alert-danger {
	border-radius: 1rem;
	background-color: rgb(253, 171, 171, 0.8);
}
