.Username,
.Password,
.LoginButton,
h1 {
	margin-top: 1rem;
}

.LoginButton {
	margin-bottom: 1rem;
	background-color: #080957;
	border-width: 0.2rem;
	border-color: white;
}

.LoginButton:hover {
	background-color: #8a8dff;
}

.Username,
.Password {
	margin-left: 1rem;
	margin-right: 1rem;
}

.FormContainer {
	margin-top: 6rem;
	border-radius: 1rem;
	background-color: #080957;
	color: white;
}
